.container{
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none;
}

.secao_banners{
    display: flex;
    flex-direction: row;
}
